DJANGO_DEBUG=1
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=1
# For production set:
# CORS_ALLOW_ALL_ORIGINS=0
# CORS_ALLOWED_ORIGINS=https://your-frontend-domain
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7
